{% extends "layout.html" %}

{% block title %}Learning Modules{% endblock %}

{% block content %}

<script>
    let data = {{ data| tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'learningmodules.js') }}"></script>

<div class="row learning-module-row-padding mx-0">
    <div class="col-md-1"></div>
    <div class="col-md-10 horizontal-center center-text learning-module-title">
        Learning Modules
    </div>
</div>
<div class="row learning-module-buttons">
    <div class="col-md-2"></div>
    <div class="col-md-8 learning-buttons" id="main-container">

    </div>
</div>
{% endblock %}