{% extends "layout.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<script>
    let data = {{ data| tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'memory.js') }}"></script>

<button id="homeButton" class="homeButton">Home</button>
<div class="row main-button-row mx-0">
    <div id="title" class="memory-title"></div>
    <div class="container">
        <div class="game-board" id="gameBoard"></div>
    </div>
</div>

<div class="btn-container">
    <button id="leftButton" class="leftButton">To Learning Page</button>
    <button id="rightButton" class="rightButton">To Learning Modules</button>
</div>


{% endblock %}